#wrapper {
  background-color: #f2f2f2;
  min-width: 1100px;
  height: auto;
  min-height: 100%;
  font-size: 14px;
  position: relative;
}

/*=== header ===*/
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 38px;
  background-color: #273641;
  align-items: center;
  padding: 0 25px 0 16px;
  position: fixed;
  z-index: 100;

  & * {
    color: #fff;
  }

  &_logo {
    width: 110px;
    height: 23px;

    img {
      width: 100%;
      display: block;
    }
  }

  &_menu {
    position: relative;

    > li + li {
      margin-left: 32px;
    }

    li {
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      &.has_child {
        cursor: pointer;
        &:hover ul {
          opacity: 1;
          visibility: visible;
        }
        ul {
          opacity: 0;
          visibility: hidden;
          background-color: #fff;
          position: absolute;
          top: 31px;
          right: -8%;
          z-index: 1;
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16);
          border: 1px solid #aaa;
          border-top: 0;
          border-radius: 0 0 3px 3px;
          transition: all 0.2s ease 0.2s;
          li {
            display: block;
            a {
              display: block;
              color: #333;
              text-decoration: none;
              padding: 10px 15px;
              white-space: nowrap;
              transition: all 0.2s ease;
            }
            &:hover {
              background-color: #eee;
              border-radius: 0 0 3px 3px;
            }
          }
          li + li {
            border-top: 1px solid #ddd;
          }
        }
      }

      a {
        position: relative;
        text-decoration: none;
      }

      span[class^="ico"] {
        margin-right: 4px;
        font-size: 25px;
        vertical-align: middle;
      }
    }

    & .alert {
      display: block;
      width: 16px;
      height: 16px;
      background-color: #CE0000;
      border-radius: 50%;
      font-size: 10px;
      text-align: center;
      line-height: 16px;
      position: absolute;
      top: -6px;
      right: -18px;
    }
  } /* .header_menu */
} /* .header */

/*=== side ===*/
.side {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 164px;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 38px;
  left: 0;
  z-index: 10;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16);
  &_mainNav {
    width: 100%;
  }
  &_nav {
    padding-bottom: 20%;
    li {
      position: relative;
      transition: all 0.2s ease;
      &::after {
        content: "";
        display: block;
        width: 92%;
        height: 1px;
        background-color: #bfbfbf;
        margin: 0 auto;
      }
      &:hover, &.is-on {
        background-color: #4183A5;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
      }
      &:hover::after, &.is-on:after {
        opacity: 0;
      }
      &:hover a, &.is-on a {
        color: #fff;
      }
      &:hover a::after, &.is-on a::after {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 21px 0 21px 12px;
        border-color: transparent transparent transparent #4183a5;
        transform: rotate(0);
        top: 0;
        right: -12px;
        z-index: 100;
      }
      & a {
        display: block;
        padding: 11px 8px;
        color: #333;
        text-decoration: none;
        font-weight: bold;
        position: relative;
      &:after {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-top: 1px solid #bfbfbf;
        border-left: 1px solid #bfbfbf;
        transform: rotate(135deg);
        position: absolute;
        top: calc(50% - 8px/2);
        right: 12px;
      }

        span[class^="ico"] {
          font-size: 20px;
          vertical-align: middle;
          margin-right: 6px;
        }
      }
    }
  } /* side_nav */

  /*=== side_subNav ===*/
  &_subNav {
    width: 160px;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 164px;
    z-index: -1;
    transition: all 0.2s ease 0.2s;
    &.open {
      opacity: 1;
      visibility: visible;
      width: 208px;
      z-index: 10;
    }
    ul {
      width: 100%;
      opacity: 0;
      visibility: hidden;
      margin-top: 28px;
      position: absolute;
      transition: all 0.2s ease 0.2s;
      &.open {
        opacity: 1;
        visibility: visible;
      }
      a {
        color: rgba(255, 255, 255, 0.9);
        width: 100%;
        display: block;
        padding: 8px 0 8px 26px;
        font-size: 12px;
        text-decoration: none;
        font-weight: bold;
        &::before {
          content: ">";
          display: inline-block;
          color: inherit;
          margin-right: 4px;
        }
        &:hover {
          background-color: #000;
        }
      }
    }
  } /* side_subNav */

  &_info {
    width: 90%;
    margin: auto auto 0;
    background-color: #F0F0F0;
    border-radius: 4px;
    font-size: 11px;
    padding: 3% 2.5% 6%;
    &_title {
      margin-top: 12px;
      text-indent: -0.5em;
      margin-left: 0.5em;
      span[class^="ico"] {
        font-size: 18px;
        vertical-align: sub;
        margin-right: -3px;
      }
      &:first-child {
        margin-top: 0;
      }
    }
    &_counter {
      width: 95%;
      margin: 8px auto 0;
      background-color: #fff;
      font-size: 16px;
      font-weight: bold;
      text-align: right;
      padding: 6px;
    }
  } /* side_info */

  &_footer {
    width: 90%;
    margin: 20px auto 0;
    text-align: right;
    border-top: 1px dashed #BFBFBF;
    a {
      display: inline-block;
      margin-top: 8px;
    }
  } /* side_footer */
} /* side */

/*=== footer ===*/
.footer {
  width: calc(100% - 164px);
  text-align: center;
  padding-bottom: 10px;
  position: absolute;
  left: 164px;
  bottom: 0;
}/* footer */

/*=== main ===*/
.panelWrap {
  display: block;
  width: calc(100% - 164px);
  margin-left: auto;
  padding: 54px 18px 60px;
}

.top {
  &-messagePannel {
    background-color: #F7F2CE;
    padding: 2px 10px;
    border-top: 2px solid #E0AD39;
    a {
      color: #363636;
      font-weight: bold;
      &:before {
        font-family: "icomoon";
        font-weight: normal;
        content: "\e902";
        display: inline-block;
        font-size: 26px;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }
  &-mallPanel {
    background-color: #4183A5;
    padding: 14px 20px 18px;
    border-radius: 2px;
    margin-top: 16px;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        width: 48%;
        height: 60px;
        background-color: #fff;
        text-align: center;
        background-position: center;
        background-size: 95px;
        background-repeat: no-repeat;
        position: relative;
        &.rakuten {
          background-image: url(../images/logo_rakuten.png);
        }
        &.yahoo {
          background-image: url(../images/logo_yahoo.png);
        }
        &.amazon {
          background-image: url(../images/logo_amazon.png);
        }
        &.wowma {
          background-image: url(../images/logo_wowma.png);
        }
        &:nth-of-type(n+3) {
          margin-top: 28px;
        }
        & a {
          color: #fff;
          text-decoration: none;
        }
        & p {
          padding-top: 65px;
        }
      }
    }
    &_title {
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 20px;
      span[class^="ico"] {
        font-size: 40px;
        vertical-align: middle;
      }
    }
  }
}

.grid {
  &_item {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 16px;
  }
  &_panel {
    &_head {
      background-color: #273641;
      color: #fff;
      font-weight: bold;
      border-radius: 2px 2px 0 0;
      padding: 8px 10px;
      &_select {
        display: block;
        float: right;
        margin-top: -2px;
        position: relative;
        cursor: pointer;
        &::after {
          content: "▼";
          font-size: 12px;
        }
        select {
          font-size: 12px;
          cursor: pointer;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          border: 0;
          border-radius: 0;
          background: transparent;
          color: #fff;
          &:focus {
            box-shadow: none;
            outline: none;
          }
        }
      }
    }
    &_body {
      margin: 10px;
      &_title {
        font-weight: bold;
        color: #273641;
        margin-bottom: 8px;
      }
      &_search {
        margin-top: 20px;
        position: relative;
        &::after {
          font-family: "icomoon";
          font-weight: normal;
          content: '\e90e';
          font-size: 18px;
          color: #707070;
          position: absolute;
          top: calc(50% - 20px/2);
          right: 12px;
        }
        & input {
          width: 100%;
          border: 1px solid #c9c9c9;
          border-radius: 2px;
          font-size: 14px;
          padding: 7.5px;
          position: relative;
        }
      }
      &_list {
        font-size: 12px;
        li {
          border-bottom: 1px dashed #BFBFBF;
          position: relative;
          &::after {
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            border-top: 1px solid #bfbfbf;
            border-right: 1px solid #bfbfbf;
            transform: rotate(45deg);
            position: absolute;
            top: calc(50% - 8px/2);
            right: 8px;
          }
          a {
            display: block;
            width: 100%;
            color: #363636;
            text-decoration: none;
          }
          span {
            display: inline-block;
            padding: 8px 12px;
            position: relative;
            &:first-of-type {
              font-weight: bold;
            }
            &:not(:last-of-type)::after {
              content: "|";
              color: #BFBFBF;
              font-weight: normal;
              position: absolute;
              right: 0;
            }
          }
        }
        &_title {
          font-size: 12px;
          margin-top: 14px;
          margin-left: 6px;
          color: #333;
        }
      }
      &_graph {
        margin-top: 18px;
        margin-bottom: 12px;
        img {
          width: 100%;
          background-color: #ddd;
        }
      }
    } /* grid_panel_body */

    &_item {
      ul {
      position: relative;
        &::after {
          content: "";
          display: block;
          width: 34.5%;
          height: 108%;
          background-color: #93BACE;
          position: absolute;
          top: -4%;
          left: 32.8%;
          z-index: 0;
        }
      }
      li {
        width: calc(33.3% - 10px);
        min-width: 126px;
        background-color: #fff;
        border-radius: 4px;
        padding: 2px 8px 8px;
        font-size: 12px;
        border: 1px solid #ccc;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 2;
        &:nth-of-type(1)::after,
        &:nth-of-type(2)::before,
        &:nth-of-type(2)::after,
        &:nth-of-type(4)::after,
        &:nth-of-type(5)::after {
          content: "";
          display: block;
          height: 1px;
          position: absolute;
        }
        &:nth-of-type(2)::before {
          width: 15px;
          border-top: 2px solid #bcbcbc;
          transform: rotate(90deg);
          left: calc(50% - 15px/2);
          bottom: -10px;
        }
        &:nth-of-type(1)::after,
        &:nth-of-type(2)::after,
        &:nth-of-type(4)::after,
        &:nth-of-type(5)::after {
          width: 18%;
          border-top: 2px dotted #bcbcbc;
          top: calc(50%);
          right: -18%;
        }
        &:nth-of-type(n+4) {
          margin-top: 10px;
        }
        a {
          display: table;
          line-height: 1.4;
          position: relative;
          text-decoration: none;
          color: #0C5BEF;
          &:before {
            content: "・";
            color: #000;
          }
        }
      }
      &_title {
        color: #333;
        font-weight: bold;
        margin-bottom: 6px;
        span[class^="ico"] {
          font-size: 20px;
          vertical-align: sub;
          margin-right: 6px;
        }
      }
      &.-w28p li {
        width: 100%;
        &:nth-of-type(1)::after {
          display: none;
        }
      }
    }

    &_item.-w66p li {
      width: calc(33.3% - 10px);
      min-width: 126px;
      background-color: #fff;
      border-radius: 4px;
      padding: 2px 8px 8px;
      font-size: 12px;
      border: 1px solid #ccc;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      position: relative;
      z-index: 2;
    }
    &_item.-blue {
      background-color: #DEEAF0;
      padding: 16px 18px 22px;
    }
  } /* grid_panel */
} /* grid */