@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
  position: relative;
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

body {
  line-height: 1;
  font-family: "メイリオ", "Meiryo", sans-serif; }

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block; }

nav ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*===== ここからコンテンツ ===== */
#wrapper {
  background-color: #f2f2f2;
  min-width: 1100px;
  height: auto;
  min-height: 100%;
  font-size: 14px;
  position: relative; }

/*=== header === */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 38px;
  background-color: #273641;
  align-items: center;
  padding: 0 25px 0 16px;
  position: fixed;
  z-index: 100; }

header .logo {
  width: 110px;
  height: 23px; }

header .logo img {
  width: 100%;
  display: block; }

header .header_menu {
  position: relative; }
  header .header_menu li {
    display: inline-block;
    font-size: 12px;
    font-weight: bold; }
  header .header_menu a, header .header_menu p, header .header_menu span {
    color: #fff; }
  header .header_menu a {
    position: relative; }
  header .header_menu span[class^="ico"] {
    margin-right: 4px;
    font-size: 25px;
    vertical-align: middle; }
  header .header_menu .alert {
    display: block;
    width: 16px;
    height: 16px;
    background-color: #CE0000;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    position: absolute;
    top: -6px;
    right: -18px; }

header .header_menu .has_child {
  cursor: pointer; }

header .header_menu > li + li {
  margin-left: 32px; }

header .header_menu .header_submenu {
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  position: absolute;
  top: 31px;
  left: -8%;
  z-index: 1;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16);
  border: 1px solid #aaa;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  transition: all 0.2s ease 0.2s; }
  header .header_menu .header_submenu li {
    width: 100%; }
  header .header_menu .header_submenu li + li {
    border-top: 1px solid #ddd; }
  header .header_menu .header_submenu a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    white-space: nowrap;
    transition: all 0.2s ease; }
    header .header_menu .header_submenu a:hover {
      background-color: #eee;
      border-radius: 0 0 3px 3px; }

header .header_menu .header_submenu.open {
  opacity: 1;
  visibility: visible; }

/*=== side_nav === */
.nav_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 164px;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 38px;
  left: 0;
  z-index: 10;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16); }
  .nav_wrap .gnav {
    width: 100%; }
  .nav_wrap .gnav_list {
    padding-bottom: 20%; }
    .nav_wrap .gnav_list li {
      position: relative; }
      .nav_wrap .gnav_list li::after {
        content: "";
        display: block;
        width: 92%;
        height: 1px;
        background-color: #bfbfbf;
        margin: 0 auto; }
      .nav_wrap .gnav_list li a {
        display: block;
        padding: 11px 8px;
        color: #333;
        text-decoration: none;
        font-weight: bold;
        position: relative; }
        .nav_wrap .gnav_list li a span[class^="ico-"] {
          font-size: 20px;
          vertical-align: middle;
          margin-right: 6px; }
        .nav_wrap .gnav_list li a::after {
          content: "";
          display: block;
          width: 8px;
          height: 8px;
          border-top: 1px solid #bfbfbf;
          border-left: 1px solid #bfbfbf;
          transform: rotate(135deg);
          position: absolute;
          top: calc(50% - 8px/2);
          right: 12px; }

.gnav_list li {
  transition: all 0.2s ease; }
  .gnav_list li:hover, .gnav_list li.is-on {
    background-color: #4183A5;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4); }
    .gnav_list li:hover a, .gnav_list li.is-on a {
      color: #fff; }
      .gnav_list li:hover a::after, .gnav_list li.is-on a::after {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 21px 0 21px 12px;
        border-color: transparent transparent transparent #4183a5;
        transform: rotate(0);
        top: 0;
        right: -12px;
        z-index: 100; }
  .gnav_list li:hover::after, .gnav_list li.is-on::after {
    opacity: 0; }

.gnav_sub {
  width: 160px;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 164px;
  z-index: -1;
  transition: all 0.2s ease 0.2s; }
  .gnav_sub .gnav_sublist {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    margin-top: 28px;
    position: absolute;
    transition: all 0.2s ease 0.2s; }
    .gnav_sub .gnav_sublist a {
      color: rgba(255, 255, 255, 0.9);
      width: 100%;
      display: block;
      padding: 8px 0 8px 26px;
      font-size: 12px;
      text-decoration: none;
      font-weight: bold; }
      .gnav_sub .gnav_sublist a::before {
        content: ">";
        display: inline-block;
        color: inherit;
        margin-right: 4px; }
      .gnav_sub .gnav_sublist a:hover {
        background-color: #000; }

.gnav_sub.open {
  opacity: 1;
  visibility: visible;
  width: 208px;
  z-index: 10; }

.gnav_sublist.open {
  opacity: 1;
  visibility: visible; }

/*=== 受注数カウンター === */
.total_count {
  width: 90%;
  margin: auto auto 35%; }
  .total_count ul {
    background-color: #F0F0F0;
    border-radius: 4px;
    font-size: 11px;
    padding: 3% 0 6%; }
    .total_count ul li {
      width: 95%;
      margin: 0 auto; }
      .total_count ul li .title {
        text-indent: -0.5em;
        margin-left: 0.5em; }
      .total_count ul li span[class^="ico-"] {
        font-size: 18px;
        vertical-align: sub;
        margin-right: -3px; }
    .total_count ul li + li {
      margin-top: 12px; }
    .total_count ul .counter {
      width: 95%;
      margin: 8px auto 0;
      background-color: #fff;
      font-size: 16px;
      font-weight: bold;
      text-align: right;
      padding: 6px; }
  .total_count .customize_link {
    margin-top: 20px;
    text-align: right;
    border-top: 1px dashed #BFBFBF; }
    .total_count .customize_link a {
      display: inline-block;
      margin-top: 8px; }

/*=== footer === */
footer {
  width: calc(100% - 164px);
  text-align: center;
  padding-bottom: 10px;
  position: absolute;
  left: 164px;
  bottom: 0; }

/*=== main_content === */
main {
  display: block;
  width: calc(100% - 164px);
  margin-left: auto;
  padding: 54px 18px 60px; }

/*=== お知らせ === */
.info_box {
  background-color: #F7F2CE;
  padding: 2px 10px;
  border-top: 2px solid #E0AD39; }
  .info_box a {
    color: #363636;
    font-weight: bold; }

.info_box a::before {
  font-family: "icomoon";
  font-weight: normal;
  content: "";
  display: inline-block;
  font-size: 26px;
  vertical-align: middle;
  margin-right: 5px; }

/*=== ２カラム === */
section[class*="col"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 16px; }

.inner_box {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); }

.col_2 .inner_box {
  width: calc(50% - 16px/2);
  background-color: #fff; }
  .col_2 .inner_box .box {
    padding: 8px 14px; }

.top.col_2 .inner_box {
  width: 71%; }
  .top.col_2 .inner_box .box {
    padding: 16px 18px 22px; }

.top.col_2 .mall {
  width: calc(29% - 16px);
  background-color: #4183A5;
  padding: 14px 20px 18px;
  border-radius: 2px; }
  .top.col_2 .mall .title {
    font-size: 18px;
    font-weight: bold;
    color: #fff; }
    .top.col_2 .mall .title span {
      font-size: 40px;
      vertical-align: middle; }
  .top.col_2 .mall ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px; }
    .top.col_2 .mall ul li {
      width: calc(50% - 22px/2);
      height: 60px;
      background-color: #fff;
      text-align: center;
      background-position: center;
      background-size: 95px;
      background-repeat: no-repeat;
      position: relative; }
      .top.col_2 .mall ul li a {
        display: block;
        width: 100%;
        height: 100%;
        color: #fff;
        text-decoration: none;
        position: absolute;
        top: 0;
        padding-top: 64px; }

.top.col_2 .mall .rakuten {
  background-image: url(../images/logo_rakuten.png); }
.top.col_2 .mall .yahoo {
  background-image: url(../images/logo_yahoo.png); }
.top.col_2 .mall .amazon {
  background-image: url(../images/logo_amazon.png); }
.top.col_2 .mall .wowma {
  background-image: url(../images/logo_wowma.png); }

.top.col_2 .mall li:nth-of-type(n+3) {
  margin-top: 28px; }

.sec_title {
  background-color: #273641;
  color: #fff;
  font-weight: bold;
  border-radius: 2px 2px 0 0;
  padding: 8px 10px; }

.top .box {
  background-color: #DEEAF0; }

.product_box {
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative; }
  .product_box ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 8px; }
    .product_box ul li {
      width: calc(33.3% - 10px);
      min-width: 126px;
      background-color: #fff;
      border-radius: 4px;
      padding: 2px 8px 8px;
      font-size: 12px;
      border: 1px solid #ccc;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      position: relative;
      z-index: 2; }
    .product_box ul li:nth-of-type(n+4) {
      margin-top: 10px; }

.product_box .list::after {
  content: "";
  display: block;
  width: 34.5%;
  height: 108%;
  background-color: #93BACE;
  position: absolute;
  top: -4%;
  left: 32.8%;
  z-index: 0; }

.product_box .list li:nth-of-type(2)::before,
.product_box .list li:nth-of-type(1)::after,
.product_box .list li:nth-of-type(2)::after,
.product_box .list li:nth-of-type(4)::after,
.product_box .list li:nth-of-type(5)::after {
  content: "";
  display: block;
  height: 1px;
  position: absolute; }

.product_box .list li:nth-of-type(2)::before {
  width: 15px;
  border-top: 2px solid #bcbcbc;
  transform: rotate(90deg);
  left: calc(50% - 15px/2);
  bottom: -10px; }

.product_box .list li:nth-of-type(1)::after,
.product_box .list li:nth-of-type(2)::after,
.product_box .list li:nth-of-type(4)::after,
.product_box .list li:nth-of-type(5)::after {
  width: 18%;
  border-top: 2px dotted #bcbcbc;
  top: calc(50%);
  right: -18%; }

.product_box li p {
  color: #333;
  font-weight: bold;
  margin-bottom: 6px; }
  .product_box li p span[class*="ico"] {
    font-size: 20px;
    vertical-align: sub;
    margin-right: 6px; }

.product_box li a {
  display: table;
  line-height: 1.4;
  position: relative;
  text-decoration: none;
  color: #0C5BEF; }

.product_box li a::before {
  content: "・";
  color: #000; }

.product_box .title {
  font-weight: bold;
  color: #273641; }

.product_box .box {
  width: calc(73% - 10px/2);
  padding: 12px 12px 16px 12px; }

.product_box .member_box {
  width: calc(27% - 10px/2);
  height: 148px; }
  .product_box .member_box ul li {
    width: 100%; }

/*=== 検索窓 === */
.search_box {
  margin-top: 12px; }
  .search_box input {
    width: 100%;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    font-size: 14px;
    padding: 7.5px;
    position: relative; }

.search_box::after {
  font-family: "icomoon";
  font-weight: normal;
  content: "";
  font-size: 18px;
  color: #707070;
  position: absolute;
  top: calc(50% - 20px/2);
  right: 12px; }

.search_box + p {
  font-size: 12px;
  margin-top: 14px;
  margin-left: 6px;
  color: #333; }

.search_list {
  margin-top: 4px;
  font-size: 12px; }
  .search_list li {
    border-bottom: 1px dashed #BFBFBF;
    position: relative; }
    .search_list li a {
      display: block;
      width: 100%;
      color: #363636;
      text-decoration: none; }

.search_list li::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-top: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
  transform: rotate(45deg);
  position: absolute;
  top: calc(50% - 8px/2);
  right: 8px; }

.search_list span {
  display: inline-block;
  padding: 8px 12px;
  position: relative; }

.search_list span:not(:last-of-type)::after {
  content: "|";
  color: #BFBFBF;
  font-weight: normal;
  position: absolute;
  right: 0; }

.search_list span:first-of-type {
  font-weight: bold; }

.graph_box {
  margin-top: 18px;
  margin-bottom: 12px; }
  .graph_box img {
    width: 100%;
    background-color: #ddd; }

/*=== 情報分析 === */
.sec_title .info_select {
  display: block;
  float: right;
  margin-top: -2px;
  position: relative;
  cursor: pointer; }
  .sec_title .info_select::after {
    content: "▼";
    font-size: 12px; }
  .sec_title .info_select select {
    font-size: 12px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    border-radius: 0;
    background: transparent;
    color: #fff; }
    .sec_title .info_select select:focus {
      box-shadow: none;
      outline: none; }
