@charset 'utf-8'

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video
  position: relative
  margin: 0
  padding: 0
  
*, *::before, *::after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -ms-box-sizing: border-box
  box-sizing: border-box

html, body
  margin: 0
  padding: 0

body
  line-height: 1
  font-family: 'メイリオ','Meiryo',sans-serif

article, aside, dialog, figure, footer, header,
hgroup, nav, section
  display: block

nav ul, li
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: ''
  content: none

a
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  vertical-align: baseline
  background: transparent

ins
  background-color: #ff9
  color: #000
  text-decoration: none

mark
  background-color: #ff9
  color: #000
  font-style: italic
  font-weight: bold

del
  text-decoration: line-through

abbr[title], dfn[title]
  border-bottom: 1px dotted #000
  cursor: help

table
  border-collapse: collapse
  border-spacing: 0

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #cccccc
  margin: 1em 0
  padding: 0

input, select
  vertical-align: middle
  
/*===== ここからコンテンツ =====*/

// 共通設定
$fs_default: 14px
$fs_small: 12px

$key_color: #273641
$bg_color: #DEEAF0
$color_point: #4183A5

$sidenav_w: 164px

@mixin flex($justify_content: space-between)
  display: flex
  flex-wrap: wrap
  justify-content: $justify_content

@mixin transition
  transition: 0.5s ease-out

@mixin bf_af
  content: ''
  display: block

@mixin icon
  font-family: 'icomoon'
  font-weight: normal

#wrapper
  background-color: #f2f2f2
  min-width: 1100px
  height: auto
  min-height: 100%
  font-size: $fs_default
  position: relative

/*=== header ===*/
header
  @include flex
  width: 100%
  height: 38px
  background-color: $key_color
  align-items: center
  padding: 0 25px 0 16px
  position: fixed
  z-index: 100

header .logo
  width: 110px
  height: 23px

header .logo img
  width: 100%
  display: block

header .header_menu
  position: relative
  li
    display: inline-block
    font-size: $fs_small
    font-weight: bold
  a,p,span
    color: #fff
  a
    position: relative
  span[class^="ico"]
    margin-right: 4px
    font-size: 25px
    vertical-align: middle
  .alert
    display: block
    width: 16px
    height: 16px
    background-color: #CE0000
    border-radius: 50%
    font-size: 10px
    text-align: center
    line-height: 16px
    position: absolute
    top: -6px
    right: -18px

header .header_menu .has_child
  cursor: pointer

header .header_menu > li + li
  margin-left: 32px

header .header_menu .header_submenu
  opacity: 0
  visibility: hidden
  background-color: #fff
  position: absolute
  top: 31px
  left: -8%
  z-index: 1
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16)
  border: 1px solid #aaa
  border-top: 0
  border-radius: 0 0 3px 3px
  transition: all 0.2s ease 0.2s
  li
    width: 100%
  li + li
    border-top: 1px solid #ddd
  a
    display: block
    color: #333
    text-decoration: none
    padding: 10px 15px
    white-space: nowrap
    transition: all 0.2s ease
    &:hover
      background-color: #eee
      border-radius: 0 0 3px 3px

header .header_menu .header_submenu.open
  opacity: 1
  visibility: visible

/*=== side_nav ===*/
.nav_wrap
  @include flex
  width: $sidenav_w
  height: 100%
  background-color: #fff
  position: fixed
  top: 38px
  left: 0
  z-index: 10
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16)
  .gnav
    width: 100%
  .gnav_list
    padding-bottom: 20%
    li
      position: relative
      &::after
        content: ''
        display: block
        width: 92%
        height: 1px
        background-color: #bfbfbf
        margin: 0 auto
      a
        display: block
        padding: 11px 8px
        color: #333
        text-decoration: none
        font-weight: bold
        position: relative
        span[class^="ico-"]
          font-size: 20px
          vertical-align: middle
          margin-right: 6px
        &::after
          content: ''
          display: block
          width: 8px
          height: 8px
          border-top: 1px solid #bfbfbf
          border-left: 1px solid #bfbfbf
          transform: rotate(135deg)
          position: absolute
          top: calc(50% - 8px/2)
          right: 12px

.gnav_list li
  transition: all 0.2s ease
  &:hover ,&.is-on
    background-color: #4183A5
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4)
    a
      color: #fff
      &::after
        width: 0
        height: 0
        border-style: solid
        border-width: 21px 0 21px 12px
        border-color: transparent transparent transparent #4183a5
        transform: rotate(0)
        top: 0
        right: -12px
        z-index: 100
  &:hover::after , &.is-on::after
    opacity: 0

.gnav_sub
  width: 160px
  height: 100vh
  opacity: 0
  visibility: hidden
  background-color: rgba(0,0,0,0.8)
  position: absolute
  top: 0
  left: $sidenav_w
  z-index: -1
  transition: all .2s ease .2s
  .gnav_sublist
    width: 100%
    opacity: 0
    visibility: hidden
    margin-top: 28px
    position: absolute
    transition: all .2s ease .2s
    a
      color: rgba(255, 255, 255,0.9)
      width: 100%
      display: block
      padding: 8px 0 8px 26px
      font-size: $fs_small
      text-decoration: none
      font-weight: bold
      &::before
        content: '>'
        display: inline-block
        color: inherit
        margin-right: 4px
      &:hover
        background-color: #000

.gnav_sub.open
  opacity: 1
  visibility: visible
  width: 208px
  z-index: 10

.gnav_sublist.open
  opacity: 1
  visibility: visible

/*=== 受注数カウンター ===*/
.total_count
  width: 90%
  margin: auto auto 35%
  ul
    background-color: #F0F0F0
    border-radius: 4px
    font-size: 11px
    padding: 3% 0 6%
    li
      width: 95%
      margin: 0 auto
      .title
        text-indent: -0.5em
        margin-left: 0.5em
      span[class^="ico-"]
        font-size: 18px
        vertical-align: sub
        margin-right: -3px
    li + li
      margin-top: 12px
    .counter
      width: 95%
      margin: 8px auto 0
      background-color: #fff
      font-size: 16px
      font-weight: bold
      text-align: right
      padding: 6px
  .customize_link
    margin-top: 20px
    text-align: right
    border-top: 1px dashed #BFBFBF
    a
      display: inline-block
      margin-top: 8px

/*=== footer ===*/
footer
  width: calc(100% - #{$sidenav_w})
  text-align: center
  padding-bottom: 10px
  position: absolute
  left: #{$sidenav_w}
  bottom: 0

/*=== main_content ===*/
main
  display: block
  width: calc(100% - #{$sidenav_w})
  margin-left: auto
  padding: 54px 18px 60px

/*=== お知らせ ===*/
.info_box
  background-color: #F7F2CE
  padding: 2px 10px
  border-top: 2px solid #E0AD39
  a
    color: #363636
    font-weight: bold

.info_box a::before
  @include icon
  content: '\e902'
  display: inline-block
  font-size: 26px
  vertical-align: middle
  margin-right: 5px

/*=== ２カラム ===*/
section[class*="col"]
  @include flex
  margin-top: 16px

.inner_box
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1)

.col_2 .inner_box
  width: calc(50% - 16px/2)
  background-color: #fff
  .box
    padding: 8px 14px

.top.col_2 .inner_box
  width: 71%
  .box
    padding: 16px 18px 22px

.top.col_2 .mall
  width: calc(29% - 16px)
  background-color: $color_point
  padding: 14px 20px 18px
  border-radius: 2px
  .title
    font-size: 18px
    font-weight: bold
    color: #fff
    span
      font-size: 40px
      vertical-align: middle
  ul
    @include flex
    margin-top: 20px
    li
      width: calc(50% - 22px/2)
      height: 60px
      background-color: #fff
      text-align: center
      background-position: center
      background-size: 95px
      background-repeat: no-repeat
      position: relative
      a
        display: block
        width: 100%
        height: 100%
        color: #fff
        text-decoration: none
        position: absolute
        top: 0
        p
        padding-top: 64px

.top.col_2 .mall
  .rakuten
    background-image: url(../images/logo_rakuten.png)
  .yahoo
    background-image: url(../images/logo_yahoo.png)
  .amazon
    background-image: url(../images/logo_amazon.png)
  .wowma
    background-image: url(../images/logo_wowma.png)

.top.col_2 .mall li:nth-of-type(n+3)
  margin-top: 28px

.sec_title
  background-color: $key_color
  color: #fff
  font-weight: bold
  border-radius: 2px 2px 0 0
  padding: 8px 10px

.top .box
  background-color: $bg_color

.product_box
  margin: 10px
  border-radius: 5px
  @include flex
  position: relative
  ul
    @include flex
    margin-top: 8px
    li
      width: calc(33.3% - 10px)
      min-width: 126px
      background-color: #fff
      border-radius: 4px
      padding: 2px 8px 8px
      font-size: $fs_small
      border: 1px solid #ccc
      box-shadow: 0px 0px 5px rgba(0,0,0,0.1)
      position: relative
      z-index: 2
    li:nth-of-type(n+4)
      margin-top: 10px

.product_box .list::after
  @include bf_af
  width: 34.5%
  height: 108%
  background-color: #93BACE
  position: absolute
  top: -4%
  left: 32.8%
  z-index: 0

.product_box .list li:nth-of-type(2)::before ,
.product_box .list li:nth-of-type(1)::after ,
.product_box .list li:nth-of-type(2)::after ,
.product_box .list li:nth-of-type(4)::after ,
.product_box .list li:nth-of-type(5)::after
  @include bf_af
  height: 1px
  position: absolute

.product_box .list li:nth-of-type(2)::before ,
  width: 15px
  border-top: 2px solid #bcbcbc
  transform: rotate(90deg)
  left: calc(50% - 15px/2)
  bottom: -10px

.product_box .list li:nth-of-type(1)::after ,
.product_box .list li:nth-of-type(2)::after ,
.product_box .list li:nth-of-type(4)::after ,
.product_box .list li:nth-of-type(5)::after
  width: 18%
  border-top: 2px dotted #bcbcbc
  top: calc(50%)
  right: -18%

.product_box li p
  color: #333
  font-weight: bold
  margin-bottom: 6px
  span[class*="ico"]
    font-size: 20px
    vertical-align: sub
    margin-right: 6px

.product_box li a
  display: table
  line-height: 1.4
  position: relative
  text-decoration: none
  color: #0C5BEF

.product_box li a::before
  content: '・'
  color: #000

.product_box .title
  font-weight: bold
  color: $key_color

.product_box .box
  width: calc(73% - 10px/2)
  padding: 12px 12px 16px 12px

.product_box .member_box
  width: calc(27% - 10px/2)
  height: 148px
  ul li
    width: 100%

/*=== 検索窓 ===*/
.col_2 .inner_box .search
  //overflow-y: scroll

.search_box
  margin-top: 12px
  input
    width: 100%
    border: 1px solid #c9c9c9
    border-radius: 2px
    font-size: $fs_default
    padding: 7.5px
    position: relative

.search_box::after
  @include icon
  content: '\e90e'
  font-size: 18px
  color: #707070
  position: absolute
  top: calc(50% - 20px/2)
  right: 12px

.search_box + p
  font-size: $fs_small
  margin-top: 14px
  margin-left: 6px
  color: #333

.search_list
  margin-top: 4px
  font-size: $fs_small
  li
    border-bottom: 1px dashed #BFBFBF
    position: relative
    a
      display: block
      width: 100%
      color: #363636
      text-decoration: none

.search_list li::after
  @include bf_af
  width: 8px
  height: 8px
  border-top: 1px solid #bfbfbf
  border-right: 1px solid #bfbfbf
  transform: rotate(45deg)
  position: absolute
  top: calc(50% - 8px/2)
  right: 8px

.search_list span
  display: inline-block
  padding: 8px 12px
  position: relative

.search_list span:not(:last-of-type)::after
  content: '|'
  color: #BFBFBF
  font-weight: normal
  position: absolute
  right: 0

.search_list span:first-of-type
  font-weight: bold

.graph_box
  margin-top: 18px
  margin-bottom: 12px
  img
    width: 100%
    background-color: #ddd

/*=== 情報分析 ===*/
.sec_title .info_select
  display: block
  float: right
  margin-top: -2px
  position: relative
  cursor: pointer
  &::after
    content: '\025bc'
    font-size: $fs_small
  select
    font-size: $fs_small
    cursor: pointer
    appearance: none
    -webkit-appearance: none
    -moz-appearance: none
    border: 0
    border-radius: 0
    background: transparent
    color: #fff
    &:focus
      box-shadow: none
      outline: none