@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: "メイリオ", "Meiryo", sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  vertical-align: baseline;
  background: transparent; }

input, select {
  vertical-align: middle; }

.-col2, .l-col2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.-w50p {
  width: 49.5%; }

.-w71p {
  width: 71%; }

.-w28p {
  width: 28%; }

#wrapper {
  background-color: #f2f2f2;
  min-width: 1100px;
  height: auto;
  min-height: 100%;
  font-size: 14px;
  position: relative; }

/*=== header ===*/
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 38px;
  background-color: #273641;
  align-items: center;
  padding: 0 25px 0 16px;
  position: fixed;
  z-index: 100;
  /* .header_menu */ }
  .header * {
    color: #fff; }
  .header_logo {
    width: 110px;
    height: 23px; }
    .header_logo img {
      width: 100%;
      display: block; }
  .header_menu {
    position: relative; }
    .header_menu > li + li {
      margin-left: 32px; }
    .header_menu li {
      display: inline-block;
      font-size: 12px;
      font-weight: bold; }
      .header_menu li.has_child {
        cursor: pointer; }
        .header_menu li.has_child:hover ul {
          opacity: 1;
          visibility: visible; }
        .header_menu li.has_child ul {
          opacity: 0;
          visibility: hidden;
          background-color: #fff;
          position: absolute;
          top: 31px;
          right: -8%;
          z-index: 1;
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16);
          border: 1px solid #aaa;
          border-top: 0;
          border-radius: 0 0 3px 3px;
          transition: all 0.2s ease 0.2s; }
          .header_menu li.has_child ul li {
            display: block; }
            .header_menu li.has_child ul li a {
              display: block;
              color: #333;
              text-decoration: none;
              padding: 10px 15px;
              white-space: nowrap;
              transition: all 0.2s ease; }
            .header_menu li.has_child ul li:hover {
              background-color: #eee;
              border-radius: 0 0 3px 3px; }
          .header_menu li.has_child ul li + li {
            border-top: 1px solid #ddd; }
      .header_menu li a {
        position: relative;
        text-decoration: none; }
      .header_menu li span[class^="ico"] {
        margin-right: 4px;
        font-size: 25px;
        vertical-align: middle; }
    .header_menu .alert {
      display: block;
      width: 16px;
      height: 16px;
      background-color: #CE0000;
      border-radius: 50%;
      font-size: 10px;
      text-align: center;
      line-height: 16px;
      position: absolute;
      top: -6px;
      right: -18px; }

/* .header */
/*=== side ===*/
.side {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 164px;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 38px;
  left: 0;
  z-index: 10;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16);
  /* side_nav */
  /*=== side_subNav ===*/
  /* side_subNav */
  /* side_info */
  /* side_footer */ }
  .side_mainNav {
    width: 100%; }
  .side_nav {
    padding-bottom: 20%; }
    .side_nav li {
      position: relative;
      transition: all 0.2s ease; }
      .side_nav li::after {
        content: "";
        display: block;
        width: 92%;
        height: 1px;
        background-color: #bfbfbf;
        margin: 0 auto; }
      .side_nav li:hover, .side_nav li.is-on {
        background-color: #4183A5;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4); }
      .side_nav li:hover::after, .side_nav li.is-on:after {
        opacity: 0; }
      .side_nav li:hover a, .side_nav li.is-on a {
        color: #fff; }
      .side_nav li:hover a::after, .side_nav li.is-on a::after {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 21px 0 21px 12px;
        border-color: transparent transparent transparent #4183a5;
        transform: rotate(0);
        top: 0;
        right: -12px;
        z-index: 100; }
      .side_nav li a {
        display: block;
        padding: 11px 8px;
        color: #333;
        text-decoration: none;
        font-weight: bold;
        position: relative; }
        .side_nav li a:after {
          content: "";
          display: block;
          width: 8px;
          height: 8px;
          border-top: 1px solid #bfbfbf;
          border-left: 1px solid #bfbfbf;
          transform: rotate(135deg);
          position: absolute;
          top: calc(50% - 8px/2);
          right: 12px; }
        .side_nav li a span[class^="ico"] {
          font-size: 20px;
          vertical-align: middle;
          margin-right: 6px; }
  .side_subNav {
    width: 160px;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 164px;
    z-index: -1;
    transition: all 0.2s ease 0.2s; }
    .side_subNav.open {
      opacity: 1;
      visibility: visible;
      width: 208px;
      z-index: 10; }
    .side_subNav ul {
      width: 100%;
      opacity: 0;
      visibility: hidden;
      margin-top: 28px;
      position: absolute;
      transition: all 0.2s ease 0.2s; }
      .side_subNav ul.open {
        opacity: 1;
        visibility: visible; }
      .side_subNav ul a {
        color: rgba(255, 255, 255, 0.9);
        width: 100%;
        display: block;
        padding: 8px 0 8px 26px;
        font-size: 12px;
        text-decoration: none;
        font-weight: bold; }
        .side_subNav ul a::before {
          content: ">";
          display: inline-block;
          color: inherit;
          margin-right: 4px; }
        .side_subNav ul a:hover {
          background-color: #000; }
  .side_info {
    width: 90%;
    margin: auto auto 0;
    background-color: #F0F0F0;
    border-radius: 4px;
    font-size: 11px;
    padding: 3% 2.5% 6%; }
    .side_info_title {
      margin-top: 12px;
      text-indent: -0.5em;
      margin-left: 0.5em; }
      .side_info_title span[class^="ico"] {
        font-size: 18px;
        vertical-align: sub;
        margin-right: -3px; }
      .side_info_title:first-child {
        margin-top: 0; }
    .side_info_counter {
      width: 95%;
      margin: 8px auto 0;
      background-color: #fff;
      font-size: 16px;
      font-weight: bold;
      text-align: right;
      padding: 6px; }
  .side_footer {
    width: 90%;
    margin: 20px auto 0;
    text-align: right;
    border-top: 1px dashed #BFBFBF; }
    .side_footer a {
      display: inline-block;
      margin-top: 8px; }

/* side */
/*=== footer ===*/
.footer {
  width: calc(100% - 164px);
  text-align: center;
  padding-bottom: 10px;
  position: absolute;
  left: 164px;
  bottom: 0; }

/* footer */
/*=== main ===*/
.panelWrap {
  display: block;
  width: calc(100% - 164px);
  margin-left: auto;
  padding: 54px 18px 60px; }

.top-messagePannel {
  background-color: #F7F2CE;
  padding: 2px 10px;
  border-top: 2px solid #E0AD39; }
  .top-messagePannel a {
    color: #363636;
    font-weight: bold; }
    .top-messagePannel a:before {
      font-family: "icomoon";
      font-weight: normal;
      content: "\e902";
      display: inline-block;
      font-size: 26px;
      vertical-align: middle;
      margin-right: 5px; }
.top-mallPanel {
  background-color: #4183A5;
  padding: 14px 20px 18px;
  border-radius: 2px;
  margin-top: 16px; }
  .top-mallPanel ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .top-mallPanel ul li {
      width: 48%;
      height: 60px;
      background-color: #fff;
      text-align: center;
      background-position: center;
      background-size: 95px;
      background-repeat: no-repeat;
      position: relative; }
      .top-mallPanel ul li.rakuten {
        background-image: url(../images/logo_rakuten.png); }
      .top-mallPanel ul li.yahoo {
        background-image: url(../images/logo_yahoo.png); }
      .top-mallPanel ul li.amazon {
        background-image: url(../images/logo_amazon.png); }
      .top-mallPanel ul li.wowma {
        background-image: url(../images/logo_wowma.png); }
      .top-mallPanel ul li:nth-of-type(n+3) {
        margin-top: 28px; }
      .top-mallPanel ul li a {
        color: #fff;
        text-decoration: none; }
      .top-mallPanel ul li p {
        padding-top: 65px; }
  .top-mallPanel_title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px; }
    .top-mallPanel_title span[class^="ico"] {
      font-size: 40px;
      vertical-align: middle; }

.grid {
  /* grid_panel */ }
  .grid_item {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 16px; }
  .grid_panel {
    /* grid_panel_body */ }
    .grid_panel_head {
      background-color: #273641;
      color: #fff;
      font-weight: bold;
      border-radius: 2px 2px 0 0;
      padding: 8px 10px; }
      .grid_panel_head_select {
        display: block;
        float: right;
        margin-top: -2px;
        position: relative;
        cursor: pointer; }
        .grid_panel_head_select::after {
          content: "▼";
          font-size: 12px; }
        .grid_panel_head_select select {
          font-size: 12px;
          cursor: pointer;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          border: 0;
          border-radius: 0;
          background: transparent;
          color: #fff; }
          .grid_panel_head_select select:focus {
            box-shadow: none;
            outline: none; }
    .grid_panel_body {
      margin: 10px; }
      .grid_panel_body_title {
        font-weight: bold;
        color: #273641;
        margin-bottom: 8px; }
      .grid_panel_body_search {
        margin-top: 20px;
        position: relative; }
        .grid_panel_body_search::after {
          font-family: "icomoon";
          font-weight: normal;
          content: '\e90e';
          font-size: 18px;
          color: #707070;
          position: absolute;
          top: calc(50% - 20px/2);
          right: 12px; }
        .grid_panel_body_search input {
          width: 100%;
          border: 1px solid #c9c9c9;
          border-radius: 2px;
          font-size: 14px;
          padding: 7.5px;
          position: relative; }
      .grid_panel_body_list {
        font-size: 12px; }
        .grid_panel_body_list li {
          border-bottom: 1px dashed #BFBFBF;
          position: relative; }
          .grid_panel_body_list li::after {
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            border-top: 1px solid #bfbfbf;
            border-right: 1px solid #bfbfbf;
            transform: rotate(45deg);
            position: absolute;
            top: calc(50% - 8px/2);
            right: 8px; }
          .grid_panel_body_list li a {
            display: block;
            width: 100%;
            color: #363636;
            text-decoration: none; }
          .grid_panel_body_list li span {
            display: inline-block;
            padding: 8px 12px;
            position: relative; }
            .grid_panel_body_list li span:first-of-type {
              font-weight: bold; }
            .grid_panel_body_list li span:not(:last-of-type)::after {
              content: "|";
              color: #BFBFBF;
              font-weight: normal;
              position: absolute;
              right: 0; }
        .grid_panel_body_list_title {
          font-size: 12px;
          margin-top: 14px;
          margin-left: 6px;
          color: #333; }
      .grid_panel_body_graph {
        margin-top: 18px;
        margin-bottom: 12px; }
        .grid_panel_body_graph img {
          width: 100%;
          background-color: #ddd; }
    .grid_panel_item ul {
      position: relative; }
      .grid_panel_item ul::after {
        content: "";
        display: block;
        width: 34.5%;
        height: 108%;
        background-color: #93BACE;
        position: absolute;
        top: -4%;
        left: 32.8%;
        z-index: 0; }
    .grid_panel_item li {
      width: calc(33.3% - 10px);
      min-width: 126px;
      background-color: #fff;
      border-radius: 4px;
      padding: 2px 8px 8px;
      font-size: 12px;
      border: 1px solid #ccc;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      position: relative;
      z-index: 2; }
      .grid_panel_item li:nth-of-type(1)::after, .grid_panel_item li:nth-of-type(2)::before, .grid_panel_item li:nth-of-type(2)::after, .grid_panel_item li:nth-of-type(4)::after, .grid_panel_item li:nth-of-type(5)::after {
        content: "";
        display: block;
        height: 1px;
        position: absolute; }
      .grid_panel_item li:nth-of-type(2)::before {
        width: 15px;
        border-top: 2px solid #bcbcbc;
        transform: rotate(90deg);
        left: calc(50% - 15px/2);
        bottom: -10px; }
      .grid_panel_item li:nth-of-type(1)::after, .grid_panel_item li:nth-of-type(2)::after, .grid_panel_item li:nth-of-type(4)::after, .grid_panel_item li:nth-of-type(5)::after {
        width: 18%;
        border-top: 2px dotted #bcbcbc;
        top: calc(50%);
        right: -18%; }
      .grid_panel_item li:nth-of-type(n+4) {
        margin-top: 10px; }
      .grid_panel_item li a {
        display: table;
        line-height: 1.4;
        position: relative;
        text-decoration: none;
        color: #0C5BEF; }
        .grid_panel_item li a:before {
          content: "・";
          color: #000; }
    .grid_panel_item_title {
      color: #333;
      font-weight: bold;
      margin-bottom: 6px; }
      .grid_panel_item_title span[class^="ico"] {
        font-size: 20px;
        vertical-align: sub;
        margin-right: 6px; }
    .grid_panel_item.-w28p li {
      width: 100%; }
      .grid_panel_item.-w28p li:nth-of-type(1)::after {
        display: none; }
    .grid_panel_item.-w66p li {
      width: calc(33.3% - 10px);
      min-width: 126px;
      background-color: #fff;
      border-radius: 4px;
      padding: 2px 8px 8px;
      font-size: 12px;
      border: 1px solid #ccc;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      position: relative;
      z-index: 2; }
    .grid_panel_item.-blue {
      background-color: #DEEAF0;
      padding: 16px 18px 22px; }

/* grid */
