@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?sjs1vb') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?sjs1vb') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?sjs1vb##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-administrator {
  &:before {
    content: $ico-administrator; 
  }
}
.ico-analysis {
  &:before {
    content: $ico-analysis; 
  }
}
.ico-announce {
  &:before {
    content: $ico-announce; 
  }
}
.ico-crm {
  &:before {
    content: $ico-crm; 
  }
}
.ico-help {
  &:before {
    content: $ico-help; 
  }
}
.ico-list {
  &:before {
    content: $ico-list; 
  }
}
.ico-money {
  &:before {
    content: $ico-money; 
  }
}
.ico-notice {
  &:before {
    content: $ico-notice; 
  }
}
.ico-orders {
  &:before {
    content: $ico-orders; 
  }
}
.ico-outside {
  &:before {
    content: $ico-outside; 
  }
}
.ico-payable {
  &:before {
    content: $ico-payable; 
  }
}
.ico-product {
  &:before {
    content: $ico-product; 
  }
}
.ico-purchase {
  &:before {
    content: $ico-purchase; 
  }
}
.ico-receivable {
  &:before {
    content: $ico-receivable; 
  }
}
.ico-search {
  &:before {
    content: $ico-search; 
  }
}
.ico-shipment {
  &:before {
    content: $ico-shipment; 
  }
}
.ico-stock {
  &:before {
    content: $ico-stock; 
  }
}

