@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("fonts/iconfont.ttf?sjs1vb") format("truetype"), url("fonts/iconfont.woff?sjs1vb") format("woff"), url("fonts/iconfont.svg?sjs1vb#iconfont") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ico-administrator:before {
  content: ""; }

.ico-analysis:before {
  content: ""; }

.ico-announce:before {
  content: ""; }

.ico-crm:before {
  content: ""; }

.ico-help:before {
  content: ""; }

.ico-list:before {
  content: ""; }

.ico-money:before {
  content: ""; }

.ico-notice:before {
  content: ""; }

.ico-orders:before {
  content: ""; }

.ico-outside:before {
  content: ""; }

.ico-payable:before {
  content: ""; }

.ico-product:before {
  content: ""; }

.ico-purchase:before {
  content: ""; }

.ico-receivable:before {
  content: ""; }

.ico-search:before {
  content: ""; }

.ico-shipment:before {
  content: ""; }

.ico-stock:before {
  content: ""; }
