$icomoon-font-family: "iconfont" !default;
$icomoon-font-path: "fonts" !default;

$ico-administrator: "\e900";
$ico-analysis: "\e901";
$ico-announce: "\e902";
$ico-crm: "\e903";
$ico-help: "\e904";
$ico-list: "\e905";
$ico-money: "\e906";
$ico-notice: "\e907";
$ico-orders: "\e908";
$ico-outside: "\e909";
$ico-payable: "\e90a";
$ico-product: "\e90b";
$ico-purchase: "\e90c";
$ico-receivable: "\e90d";
$ico-search: "\e90e";
$ico-shipment: "\e90f";
$ico-stock: "\e910";

